*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body{
    width: 100vw;
    height: auto;
    max-width: 100vw;
    background-color: #000000e1;
    background-image: url("../iconos/final.png");
    background-size: 20%;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
main{
    width: min(500px,100%);
    padding:2vw;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    border-radius: 0.5vw;
    gap: 2vw;

    color: aliceblue;
    
   
}
 p{font-weight: 100;font-size: 1.5rem;}
     #logo{
        width: 50%;
    }
    a{
        background-color: #46fe2a;
        padding: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        border: 0.4vw solid #0000003f;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.2s;
        a h4{
            font-size: 2rem;
            color: #000000bd;
        }
        a img{
            width: 10%;
            height: auto;
        }
        a:hover{
            background-color: transparent;
            transform: scale(0.95);
        }
    }
     iframe{
        width: 100%;
        background-color: #000000bd;
        border-radius: 10px;
        min-height: 90vh;
    }
